body {
    margin: 0;
    font-family: sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    padding: 5px;
}

form {
    margin-top: 30px;
}

form {
    text-align: center;
}